<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sitemap.name %>
</p>

<p>
  <b>Title:</b>
  <%= @sitemap.title %>
</p>


<%= link_to 'Edit', edit_sitemap_path(@sitemap) %> |
<%= link_to 'Back', sitemaps_path %>
